openapi: 3.0.3
info:
  title: Api Documentation For Taskema
  version: 1.0.0
servers:
  - url: https://emaserver.ir
  - url: https://test.emaserver.ir
tags:
  - name: user
  - name: organization
  - name: workspace
paths:
  /user/register/{user}:
    post:
      tags:
        - user
      summary: Register user
      description: There is no need to authentication.
      operationId: registerUser
      parameters:
        - name: user
          in: path
          description: name that need to be deleted
          required: true
          schema:
            type: string
      requestBody:
        description: Created user object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /user/login:
    get:
      tags:
        - user
      summary: Logs user into the system
      description: ''
      operationId: loginUser
      parameters:
        - name: username
          in: query
          description: The user name for login
          required: false
          schema:
            type: string
        - name: password
          in: query
          description: The password for login in clear text
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Expires-After:
              description: date in UTC when token expires
              schema:
                type: string
                format: date-time
          content:
            application/xml:
              schema:
                type: string
            application/json:
              schema:
                type: string
        '400':
          description: Invalid username/password supplied
components:
  schemas:
    User:
      required:
        - name
        - phone_number
        - password
      type: object
      properties:
        name:
          type: string
          example: emamagic
        phone_number:
          type: string
          example: 123456789
        password:
          type: string
          example: 12345
        avatar:
          type: string
          example: avatarUrl
        email:
          type: string
          example: emamagic@email.com
